.first {
    margin-top: 3.25rem;
}
.roboto {
    font-family: 'Lexend Deca', sans-serif;
    /* font-family: 'Merriweather Sans', sans-serif; */
}
.profile-pic {
    padding: 0 20% 0 20%;
    filter: drop-shadow(0px 15px 30px rgba(0, 0, 0, 0.25));
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-icons a{
    padding: 10px;
    font-size: 24px;
    color: #0366ee;
}
.is-active {
    color: #000000;
    font-weight: bold;
    background-color: #ffffff !important;
}
.navbar {
    background-color: #f5f5f5;
}
.is-green {
    color: #25DBBA !important;
}
.is-purple {
    color: #645DD7 !important;
}
.padd{
    margin: 30px;
}
.body{
    background: #fafafa;
}
.cv-button{
    /* webkit-appearance: none; */
    display: inline-block;
    /* border: 1px solid #0366ee; */
    /* border-radius: 4px; */
    /* background: #0366ee; */
    color: #fff;
    font-weight: 600;
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 1rem;
    text-transform: none;
    padding: 0.75rem 1.25rem;
    margin: 0 0 0.5rem 0;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    line-height: 1;
    background: #00d1b2;
    box-shadow: 0px 15px 30px rgba(123, 123, 123, 0.15);
    border-radius: 10px;
    /* background: radial-gradient(circle at 20% 20%, #5183f5 25%, #4640ff 100%);
    box-shadow: 0.5rem 1.25rem 1.75rem 0 rgba(100,110,140,0.4);
    color: rgba(255,255,255,0.9); */
}
.cv-button:hover{
   
        color: white;
     
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
.container {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.profile-descp{
    align-items: center;
    flex-direction: column;
    border-radius: 4px;
    margin: 2rem 0;
    padding: 1.5rem;
    text-align: center;
    background: radial-gradient(circle at 20% 20%, #ffffff 25%, #ffffff 100%);
    /* box-shadow: 0.5rem 1.25rem 1.75rem 0 rgba(100,110,140,0.4); */
    /* color: rgba(255,255,255,0.9); */
}
@media (min-width:600px) {
    .profile-descp{
        display: flex;
    }
}
@media (min-width:1000px) {
    .profile-descp{
        margin: 0;
        padding: 2rem;
    }
}
.project-border{
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 20px;
    margin: 2rem;
    background: #FFFFFF;
box-shadow: 0px 15px 30px rgba(123, 123, 123, 0.15);
}
.clients {
    /* background: rgba(255,255,255,0.2); */
    border-radius: 10px ;
    /* padding: .5%;    */
    background:linear-gradient(135deg, #42e695 0%,#3bb2b8 100%);     /* background:linear-gradient(135deg, #0FF0B3 0%,#036ED9 100%);  */
}
.profexp{
    border-radius: 10px ;
    padding: 1.5%;  
    background:linear-gradient(135deg, #13f1fc 0%,#0470dc 100%);
}
.hr{
    border-radius: 10px ;
    padding: 1.5%;  
    background:linear-gradient(135deg, #13f1fc 0%,#0470dc 100%);
}
/* .clients img{
    width: 50%;
} */
.tg .tg-baqh{text-align:center;vertical-align:top}

.client-logos{
    width: 100%;
    display: flex;
}
@media (min-width:600px) {
    
    .clients-logos{
        width: 75%%;
        display: flex;
    }
}
@media (min-width:1000px) {
    .clients-logos{
        margin: 0;
        padding: 2rem;
    }
}
.client_wrap {
    padding: 160px 0 65px;
    background: #fff;
    position: relative;
    z-index: 10;
}
.css-276w88 {
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-flex-direction:row;
    -ms-flex-direction:row;
    flex-direction:row;
    margin:0;
    padding:0;
    -webkit-transition:-webkit-transform 0.4s;
    -webkit-transition:transform 0.4s;
    transition:transform 0.4s;
   }
   .card-image {
    width: 6rem;
    height: 6rem;
    margin-right: auto;
    margin-bottom: 2rem;
    margin-left: auto;
}   
.css-mda97z {
    background-color:#FFFFFF;
    border-radius:0.5rem;
    padding:1.5rem;
    background:#0366ee;
    border-radius:0.5rem;
    color:#FFFFFF;
    padding:0.5rem;
    -webkit-align-items:center;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    color:inherit;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-flex-direction:column;
    -ms-flex-direction:column;
    flex-direction:column;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center;
    min-height:16.875rem;
    width:100%;
    margin:0 0.25rem;
   }
   .css-mda97z > * {
    margin-bottom:1.5rem;
   }
   .css-mda97z > *:last-child {
    margin-bottom:0;
   }
   .css-mda97z > * {
    margin-bottom:1rem;
   }
   .css-mda97z > *:last-child {
    margin-bottom:0;
   }
   @media(min-width:90rem) {
    .css-mda97z {
     width:17.125rem;
    }
   }
   @media(min-width:48rem) {
    .css-mda97z {
     margin:0 1rem;
    }
   }
   @media(min-width:90rem) {
    .css-mda97z {
     margin:0 2rem;
    }
   }
   .card-dock{
   background: rgba(255,255,255,0.2);
   border-radius: 10px 10px 0 0;
   }
   